/* #searchRes {
  display: flex;
} */
#searchBar {
  width: 50vw;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
#poster_id {
  width: 17%;
}
.display_fav_container {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  flex-direction: column;
  align-items: center;
}
#listFav {
  margin-top: 0.5rem;
}
/* #remove_btn {
  padding-top: 0;
  padding-bottom: 0;
} */
/* #card_id {
  display: flex;
  flex-direction: row;
}

#movie_container {
  list-style: none;
  margin: 1rem 1.5rem;
} */
